# Notes
- Last updated 3/28 11pm

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
zillow_sale_list_file = "raw data/Zillow_County_SaleToListRatio.csv"
zsale_list_df = pd.read_csv(zillow_sale_list_file, encoding="latin")

In [3]:
columns = zsale_list_df.columns
columns

# Getting just 2014-2018 (5 complete years)
filtered_columns = [col for col in columns if (col.startswith('RegionN')) or 
                    (col.startswith('State')) or (col.startswith('2014')) or 
                    (col.startswith('2015')) or (col.startswith('2016')) or 
                    (col.startswith('2017')) or (col.startswith('2018'))]
df_2014_2018 = zsale_list_df[filtered_columns]
df_2014_2018.head()

,RegionName,StateName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,Los Angeles County,CA,0.981818,0.984155,0.988827,0.989278,0.991043,0.990124,0.988997,0.984925,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.998875,0.989109,0.985714,0.979792,0.974400
1,Cook County,IL,0.945455,0.943239,0.937391,0.951415,0.958904,0.961161,0.959184,0.959103,...,0.957395,0.967464,0.968858,0.968300,0.964975,0.960001,0.954980,0.951000,0.944340,0.937695
2,Harris County,TX,0.942446,0.950667,0.953462,0.965533,0.971031,0.976298,0.972202,0.987734,...,0.960000,0.967984,0.972257,0.969697,0.966910,0.962382,0.962356,0.954980,0.950431,0.946554
3,Maricopa County,AZ,0.956570,0.958691,0.957397,0.956383,0.956498,0.958592,0.957099,0.955556,...,0.978892,0.980545,0.981364,0.981405,0.981201,0.979392,0.976971,0.978115,0.974957,0.973670
4,San Diego County,CA,0.961668,0.969384,0.971963,0.973552,0.973987,0.973585,0.971223,0.967690,...,0.988764,0.990665,0.988141,0.988811,0.984791,0.978519,0.972712,0.965392,0.963526,0.957150

In [4]:
# Changing format to add columns: DATES and VALUES
long_skinny_df = pd.melt(df_2014_2018, id_vars=["RegionName", "StateName"], var_name = "Month", value_name = "Sale to List Ratio").dropna(how='any')
long_skinny_df = long_skinny_df.sort_values('Sale to List Ratio', ascending=False)

In [5]:
grouped_by_date = long_skinny_df.groupby(['Month'])

In [6]:
# Find the x=5 most expensive Counties for each month
top_df = grouped_by_date.head(5)

# Show the Counties that show up on the monthly list of x priciest and how often
top_counties = top_df['RegionName'].value_counts()[0:20]
top_counties

San Francisco County    56
San Mateo County        55
Laramie County          44
Alameda County          28
Santa Clara County      25
Cascade County          16
Weber County             8
Campbell County          7
Box Elder County         6
Benton County            6
Davis County             6
Bannock County           5
Kootenai County          5
Los Alamos County        4
Canyon County            4
Elmore County            4
Bonneville County        3
Rankin County            3
La Porte County          2
Medina County            2
Name: RegionName, dtype: int64

In [7]:
# Find the x cheapest Counties for each month
bottom_df = grouped_by_date.tail(5)

# Show the Counties that show up on the monthly list of x cheapest and how often
bottom_counties = bottom_df['RegionName'].value_counts()[0:20]
bottom_counties

Sullivan County          34
Garrett County           11
Venango County            9
Scioto County             9
Cattaraugus County        9
Jackson County            8
Schuylkill County         7
Salem County              7
Putnam County             6
Henry County              6
Jefferson County          5
Watauga County            5
Carroll County            4
Otsego County             4
Saint Lawrence County     4
Boyd County               4
Livingston County         4
Vermilion County          4
Rutland County            3
Lawrence County           3
Name: RegionName, dtype: int64

In [8]:
# export list to csv
top_counties_df = pd.DataFrame(top_counties)
top_counties_df=top_counties_df.rename(columns={"RegionName":"Times on the monthly top 5 list"})
top_counties_df.to_csv("Zillow CSV results/top_20_counties_Sale_List_Ratio.csv", header=True)

In [9]:
# export list to csv
bottom_counties_df = pd.DataFrame(bottom_counties)
bottom_counties_df=bottom_counties_df.rename(columns={"RegionName":"Times on the monthly bottom 5 list"})
bottom_counties_df.to_csv("Zillow CSV results/bottom_20_counties_Sale_List_Ratio.csv", header=True)