# Notes
- Last updated 3/24 11:41pm
- Zillow csv problem: Some work in pd.read_csv(file) with no problem but if it doesn't work, try pd.read_csv(file, encoding="latin")

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
zillow_ppsf_file = "raw data/Zillow_County_MedianListingPricePerSqft.csv"
zppsf_df = pd.read_csv(zillow_ppsf_file, encoding="latin")

In [3]:
columns = zppsf_df.columns
filtered_columns = [col for col in columns if (col.startswith('Region')) or 
                    (col.startswith('State')) or (col.startswith('2014')) or 
                    (col.startswith('2015')) or (col.startswith('2016')) or 
                    (col.startswith('2017')) or (col.startswith('2018'))]

In [4]:
df_2014_2018 = zppsf_df[filtered_columns]
df_2014_2018.head()

,RegionName,State,StateCodeFIPS,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,Los Angeles County,CA,6,308.314937,311.303961,313.796366,320.930936,326.771654,330.297220,332.925067,...,420.309348,424.501425,426.717557,429.553265,429.411703,428.794179,429.323840,431.875174,431.916427,427.728474
1,Cook County,IL,17,131.932222,138.680473,146.321070,151.926176,156.928328,158.980355,159.039420,...,190.625000,195.898521,197.038724,197.527361,197.001218,195.975232,195.756504,194.983753,193.530311,191.382061
2,Harris County,TX,48,86.623749,89.204060,90.544306,92.328935,93.217615,93.283582,93.860984,...,118.289195,118.604015,118.701550,118.367701,117.684040,117.481203,118.227425,118.443248,118.761170,119.016133
3,Maricopa County,AZ,4,124.621932,125.544337,126.245829,127.090909,126.733620,126.719768,126.013905,...,160.093532,161.697898,161.947415,161.460484,161.122661,161.267099,161.809986,162.835249,163.304515,163.733938
4,San Diego County,CA,6,278.093076,282.608696,287.163375,290.734570,295.074946,296.680498,296.414577,...,360.288520,362.426036,375.000000,377.044500,375.922229,377.490040,377.018874,372.381691,371.822272,372.164329

In [5]:
long_skinny_df = pd.melt(df_2014_2018, id_vars=["RegionName", "State", "StateCodeFIPS"], var_name = "Month", value_name = "Price per ft2").dropna(how='any')

In [6]:
long_skinny_df = long_skinny_df.sort_values('Price per ft2', ascending=False)
grouped_by_date = long_skinny_df.groupby(['Month'])

In [7]:
top_five_df = grouped_by_date.head(5)
top_five_df['RegionName'].value_counts()

Pitkin County           60
San Mateo County        60
New York County         60
Nantucket County        60
San Francisco County    60
Name: RegionName, dtype: int64

In [8]:
bottom_five_df = grouped_by_date.tail(5)
bottom_five_df['RegionName'].value_counts()

Hutchinson County    48
Wyoming County       28
Mitchell County      26
Labette County       24
Monroe County        20
Randolph County      19
Haskell County       15
Morris County        14
Dunklin County       12
Nolan County         10
Eastland County       9
Cass County           8
Telfair County        7
McCulloch County      7
Brown County          5
Cherokee County       4
Fountain County       4
Falls County          4
Fayette County        4
Jackson County        4
Montgomery County     3
Houston County        3
Clayton County        3
Wayne County          3
Allen County          2
Seminole County       2
Washita County        2
Turner County         2
Greer County          2
Appanoose County      1
Washington County     1
Pecos County          1
Neosho County         1
Cedar County          1
Clay County           1
Name: RegionName, dtype: int64